{% extends 'layout.html' %}

{% block body %}
    <!-- END nav -->
    
    <div class="hero-wrap js-fullheight" style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-12 ftco-animate">
          	<h2 class="subheading">Hello! Welcome to</h2>
          	<h1 class="mb-4 mb-md-0">{{params['blog_name']}}</h1>
          	<div class="row">
          		<div class="col-md-7">
          			<div class="text">
	          			<p>{{params['blog_description']}}</p>
	          			<div class="mouse">
										<a href="#" class="mouse-icon">
											<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
										</a>
									</div>
								</div>
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>

   	<section class="ftco-section">
   		<div class="container">
   			<div class="row">
   				<div class="col-md-12">
            <div class="navbar-brand">Hi<i>Admin</i>!</div>
            <form action="/management/{{sno}}" method="post" class="bg-light p-4 p-md-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Place" name = "place" value="{{post.place}}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" name = "title" value="{{post.title}}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Slug" name = "slug" value="{{post.slug}}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Image" name = "img" value="{{post.img_file}}">
              </div>
              <div class="form-group">
                 <textarea id="" cols="30" rows="7" class="form-control" placeholder="Content" name="content">{{post.content}}</textarea>
              </div>

              <div class="form-group">
                <input type="submit" value="SUBMIT" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>
   			</div>
   			<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
              </ul>
            </div>
          </div>
        </div>
   		</div>
   	</section>

  {% endblock %}